@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --input-background: #f3f4f6;
    --list-item-background: #f3f4f6;
    --text: #111827;
    --border: #e5e7eb;

    @media (prefers-color-scheme: dark) {
      --background: #1f2937;
      --input-background: #111827;
      --list-item-background: #374151;
      --text: #f9fafb;
      --border: #374151;
    }
  }

  * {
    @apply box-border border-gray-100 dark:border-dark-gray-100;
  }
  body {
    @apply bg-light-background dark:bg-dark-background text-gray-900 dark:text-dark-gray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .dark .ais-SearchBox .ais-SearchBox-form {
    background: var(--background);
  }
  .dark .ais-SearchBox .ais-SearchBox-input {
    background: var(--input-background);
  }
  .dark .ais-SearchBox .ais-SearchBox-input {
    @apply border-none;
  }
  .dark .ais-Hits-list,
  .dark .ais-Hits-item {
    background: var(--list-item-background);
    color: var(--text);
  }
  .dark .ais-Hits-item {
    border-bottom: 1px solid var(--border);
  }

  .dark .ais-Pagination-list .ais-Pagination-item .ais-Pagination-link {
    background: var(--list-item-background);
    color: var(--text);
  }
}
